html{background:white;text-align:left;}
h1{text-shadow:none;color:black;text-align:left;}
table{border:0px solid black;background:white;color:black;margin-inline-start:initial;}
th,td{border:2px solid black;}
tr:nth-child(1) td{text-align:left;}
h1::after{font-size:12pt;content:"(simple version)";display:block;color:black;}
body{text-align:left;}
