html{background-repeat: repeat; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcUlEQVQ4T52TSw7AIAgFHzf35jQ0KQGKCrjSmBk+AQLAMIeXffk7JX9kBV1Y9CqYwCqYwq+Al++BrTqrOXZoK6jAknkqqMJpCR34J+jCTjCBVTCF3SDtBxg4zknchSi6DZnbhS58LOEW+QuWZlCFRfIAJAk4ekI0bSUAAAAASUVORK5CYII=");}
h1{color:white;text-shadow:none;}
table{border:0px solid orange;background:black;color:orange;}
th,td{border:2px solid orange;}
a:visited{color:yellow;}
a{color:orange;}
h1::after{font-size:12pt;content:"(spooky version)";display:block;color:white;text-shadow:none;}
