sym_gary,sym_hi,sym_!,sym_h,sym_i,sym_eye {display:inline-block;width:32px;height:32px;}
sym_gary {background-image:url("https://textmonster404.github.io/sym/gary.svg");}
sym_hi {background-image:url("https://textmonster404.github.io/sym/hi.svg");}
sym_i {background-image:url("https://textmonster404.github.io/sym/i.svg");}
sym_h {background-image:url("https://textmonster404.github.io/sym/h.svg");}
sym_eye {background-image:url("https://textmonster404.github.io/sym/eye.svg");}
sym_! {background-image:url("https://textmonster404.github.io/sym/!.svg");}
