@keyframes shine {
    0% {background-position:100vw 0vh;}
    100% {background-position:0vw 0vh;}
}
body {
    font-family:serif;
    margin:0px;
    display:grid;
    grid-template-areas:"title" "container";
    background:#303030;
}
#title {
    font-weight:bold;
    font-family:serif;
    border-bottom:3px solid #404040;
    font-size:calc( 4vw + 20px );
    color:white;
    height:calc( 15vh - 3px );
    line-height:calc( 15vh - 3px );
    padding-left:3.25vh;
    animation-name:shine;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    background:linear-gradient(90deg, #a0a0a0, #c0c0c0, #a0a0a0);
    transition:padding-left 0.25s, text-shadow 0.25s;
    text-shadow:#101010 0px 0px 0px;
}
#title:hover {
    padding-left:4vh;
    text-shadow:#101010 -6px 2px 0px;
}
#container {
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns:25%;
    height:calc(85vh - 6px);
    margin-top:5px;
    padding-left:7px;
}
.section .links {
    z-index:0;
    opacity:0.0;
    transition:opacity 0.5s;
}
.section:hover .links {
    z-index:3;
    opacity:1.0;
}
#extra {
    position:absolute;
    left:25vw;
    top:15vh;
    opacity:0.0;
    z-index:2;
    transition:opacity 0.5s;
    height:calc(85vh - 18px);
    width:calc(75vw - 16px);
    background:#606060;
    margin:5px;
    border:3px solid #404040;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:5vw;
    box-shadow:#101010 4px 4px 0px;
}
#extra::before {
    content:"Hover over the panels on the left.";
}
#extra:hover {
    opacity:1.0;
}
.links {
    position:absolute;
    left:25vw;
    top:15vh;
    height:calc(85vh - 18px);
    width:calc(75vw - 16px);
    background:#606060;
    margin:5px;
    border:3px solid #404040;
    display:grid;
    font-size:inherit;
    background-origin: content-box;
    grid-template-columns: calc(calc(100% - 6px) / 3) calc(calc(100% - 6px) / 3) calc(calc(100% - 6px) / 3);
    grid-gap:3px;
    grid-auto-rows: 1fr;
    box-shadow:#101010 4px 4px 0px;
}
.links div {
    background:#808080;
    word-break: break-word;
    transition:transform 0.25s, box-shadow 0.25s, background 0.5s;
    box-shadow:#303030 0px 0px 0px;
}
.links div:hover {
    transform:scale(1.01) translate(-2px, -2px);
    box-shadow:#303030 2px 2px 0px;
}
.links div a {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2vw;
    color:transparent;
    background:linear-gradient(45deg, #d0d0d0, #ffffff, #d0d0d0);
    font-weight:bold;
    -webkit-background-clip:text;
    background-clip:text;
    text-decoration-line:underline;
    text-decoration-style:solid;
    text-decoration-color:white;
    animation-name:shine;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    background-repeat:repeat;
}
.links div:hover a {
    color:white;
}
.links div:active {
    background:white;
    transform:scale(1.025) translate(-4px, -4px);
    box-shadow:#303030 4px 4px 0px;
}

.caption {
    background:radial-gradient(#dfdfdf 0%,#efefef 0%,#dfdfdf 100%);
    font-size:4vw;
    height:calc(100% - 12px);
    width:calc(100% - 14px);
    border:3px solid #404040;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition:transform 0.25s, box-shadow 0.25s;
    box-shadow:#101010 4px 4px 0px;
}
.caption:hover {
    transform:rotateY(-10deg) rotateX(-5deg) rotateZ(-2deg);
    transform:scale(1.01) translate(-2px, -2px);
    box-shadow:#101010 6px 6px 0px;
}