@keyframes shine {
    0% {background-position:100vw 0vh;}
    100% {background-position:0vw 0vh;}
}
body {
    font-family:serif;
    margin:0px;
    display:grid;
    grid-template-areas:"title" "container";
    background:#303030;
}
#title {
    font-weight:bold;
    font-family:serif;
    border-bottom:3px solid #404040;
    font-size:40px;
    color:white;
    height: 77px;
    line-height:77px;
    padding-left:3.25vh;
    animation-name:shine;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    background:linear-gradient(90deg, #a0a0a0, #c0c0c0, #a0a0a0);
    transition:padding-left 0.25s, text-shadow 0.25s;
    text-shadow:#101010 0px 0px 0px;
}
#title:hover {
    padding-left:4vh;
    text-shadow:#101010 -6px 2px 0px;
}
#container {
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns:60px;
    height:calc(100vh - 86px);
    margin-top:5px;
}
.section .links {
    z-index:0;
    opacity:0.0;
    transition:opacity 0.5s;
}
.section:hover .links {
    z-index:3;
    opacity:1.0;
}
#extra {
    position:absolute;
    left:60px;
    top:80px;
    opacity:0.0;
    z-index:2;
    transition:opacity 0.5s;
    height:calc(100vh - 98px);
    width:calc(100vw - 76px);
    background:#606060;
    margin:5px;
    border:3px solid #404040;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:48px;
    box-shadow:#101010 4px 4px 0px;
}
#extra::before {
    content:"Hover over the panels on the left.";
}
#extra:hover {
    opacity:1.0;
}
.links {
    position:absolute;
    left:60px;
    top:80px;
    height:calc(100vh - 98px);
    width:calc(100vw - 76px);
    background:#606060;
    margin:5px;
    border:3px solid #404040;
    display:grid;
    font-size:inherit;
    background-origin: content-box;
    grid-template-columns: calc(calc(100% - 6px) / 3) calc(calc(100% - 6px) / 3) calc(calc(100% - 6px) / 3);
    grid-gap:3px;
    grid-auto-rows: 1fr;
    box-shadow:#101010 4px 4px 0px;
}
.links div {
    position:relative;
    background:#808080;
    word-break: break-word;
    transition:transform 0.25s, box-shadow 0.25s, background 0.5s;
    box-shadow:#303030 0px 0px 0px;
}
.links div:hover {
    transform:scale(1.01) translate(-2px, -2px);
    box-shadow:#303030 2px 2px 0px;
    background:#a0a0a0;
}
.links div::after {
    content:attr(desc);
    display:inline;
    height:0px;
    width:0px;
    font-size: 2.1vmax;
    transition:background-color 0.5s;
    font-weight:normal;
    background-color:#808080;
    box-shadow:#303030 0px 0px 0px;
    transform:translateY(1px);
    bottom:100%;
    left:0%;
    position:absolute;
    z-index:-1;
}
.links div:hover::after {
    height:auto;
    width:auto;
    box-shadow:#303030 2px 2px 0px;
    background-color:#a0a0a0;
}
.links div a {
    width:100%;
    height:100%;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size: calc(2vmax + 10px);
    color:transparent;
    text-decoration:none;
    background:linear-gradient(45deg, #d0d0d0, #ffffff, #d0d0d0);
    font-weight:bold;
    -webkit-background-clip:text;
    background-clip:text;
    animation-name:shine;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    background-repeat:repeat;
    white-space:pre-wrap;
    flex-flow: column;
}
.links div:hover a {
    color:white;
}
.links div:active {
    background:white;
    transform:scale(1.025) translate(-4px, -4px);
    box-shadow:#303030 4px 4px 0px;
}

.caption {
    background:radial-gradient(#dfdfdf 0%,#efefef 0%,#dfdfdf 100%);
    font-size:36px;
    height:calc(100% - 12px);
    width:calc(100% - 14px);
    border:3px solid #404040;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition:transform 0.25s, box-shadow 0.25s;
    box-shadow:#101010 4px 4px 0px;
    margin-left:7px;
    width:46px;

}
.section {
    width:76px;
}
.caption span {
    display:inline-block;
    transform:rotate(-90deg);
}
.section:hover .caption {
    transform:scale(1.01) translate(-2px, -2px);
    box-shadow:#101010 6px 6px 0px;
}
